.mission-block{
    background-color: #eafbfc;
    /* width:200px; */
    margin:1rem;
    padding:2rem;
  }
  
.mission-container{
    /* display:flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items:flex-start; */
}


.light-coral-background{
    background-color:#fef2f0;
}


.button-join{
    padding:1rem;
    background-color: var(--primary);
    border:none;
    margin:0.5rem;
    transition: all 0.2s ease 0s;
}

.button-join > a{
    color:white;
    text-decoration: none
}

.button-join:hover{
    background: #dd7463;
    transition: all 0.2s ease 0s;

}